<div class="row mb-4">
  <div class="col" *ngFor="let producto of productos">
    <div class="card mt-4" style="width: 18rem;">
      <img [src]="producto.imagen" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ producto.nombre }}</h5>
        <p class="card-text">{{ producto.descripcion }}</p>
        <a class="btn btn-primary"><i class="fas fa-edit"></i></a>
        <a class="btn btn-danger ml-2" (click)="eliminarProducto(producto.id)"><i class="fas fa-trash-alt"></i></a>
      </div>
    </div>
  </div>
</div>

